.box-countdown {
    width: 100%;
    gap: 30px;
}

.box-counters {
    width: 100%;
    gap: 30px;
    padding: 0px;

    &-counter {
        width: 20%;
        padding: 15px 25px;
        font-size: 40px;
        height: auto;
        border-radius: 10px;
        background-color: var(--bitcoin2);
    }
}

@media (max-width: 768px) {
    .box-countdown {
        width: 100%;
        gap: 30px;

    }

    .box-counters {
        width: 100%;
        gap: 15px;
        padding: 0px;


        &-counter {
            height: auto;
            padding: 15px;

            border-radius: 10px;
            background-color: var(--bitcoin2);
        }
    }





}