.box-countdown{
    width: 100%;
    gap: 30px;
}

.box-counters {
    width: 100%;
    gap: 30px;
    padding: 0px;

    &-counter {
        width: 20%;
        padding: 5px;
        font-size: 40px;
        height: auto;
        border-radius: 10px;
        background-color: var(--bitcoin2);
    }
}

@media (max-width: 768px) {
    .box-countdown{
        width: 100%;
        gap: 30px;
 
    }
    .box-counters {
        width: 100%;
        gap: 15px;
        padding: 0px;

    
        &-counter {
            width: 20%;
            height: auto;
            border-radius: 10px;
            padding: 5px;
            background-color: var(--bitcoin2);
        }
    }
    




}
